*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: #111;
    overflow: hidden;
}

#game-container {
    width: 100vw;
    height: 100vh;
    user-select: none; /* disable text selection in general */
    -webkit-user-select: none; /* disable text selection in Safari / iOS */
    -webkit-touch-callout: none; /* disable long-press menu on iOS */
    -webkit-tap-highlight-color: transparent; /* remove blue/gray highlight */
    touch-action: none; /* disables default gestures like double-tap zoom */
}